<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="Toolkit"/>
    <add key="LogDirectory" value="C:\Dev\Temp\W3SVC11"/>
  </appSettings>
  <connectionStrings>
    <add name="Logs" connectionString="Server=(local);Database=IISLogs;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>